/* Improve the overall layout and responsiveness */
.fee-section {
  width: 100%;
  max-width: 1000px;
  margin: 10px auto;
  padding: 40px;
}

/* Style the tables */
.fee-table {
  font-family: Arial, sans-serif;
  width: 100%;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.fee-table table {
  width: 100%;
  border-collapse: collapse;
}

.fee-table th,
.fee-table td {
  border: 1px solid #000000;
  text-align: center;
  padding: 10px;
}

.fee-table th {
  background-color: #f2f2f2;
}

.fee-table tr:nth-child(even) {
  background-color: rgb(235, 230, 222);
}

/* Style the "View" links */
.view {
  text-decoration: none;
  color: black;
}

/* Center the h2 headings */
.fee-table h2 {
  text-align: center;
  margin: 20px;
  padding: 5px;
}

/* CSS for responsivness */

@media screen and (max-width: 1100px) {
  .fee-section{
    max-width: 900px;
  }
}

@media screen and (max-width: 980px) {
  .fee-section{
    max-width: 800px;
  }
}

@media screen and (max-width: 885px) {
  .fee-section{
    max-width: 700px;
  }
}

@media screen and (max-width: 780px) {
  .fee-section{
    max-width: 600px;
  }
}

@media screen and (max-width: 680px) {
  .fee-section{
    max-width: 500px;
  }
}

@media screen and (max-width: 580px) {
  .fee-section{
    max-width: 400px;
  }
}

@media screen and (max-width: 480px) {
  .fee-section{
    max-width: 300px;
  }
}

@media screen and (max-width: 380px) {
  .fee-section{
    max-width: 200px;
  }
}

@media screen and (max-width: 280px) {
  .fee-section{
    max-width: 100px;
  }
}