/* .home-accordion {
  padding: 20px;
  max-width: 1100px; 
  margin: 10px auto; 
  background: linear-gradient(#FFFBF5,#FFFBF5,#F7EFE5); 
}

.accordion-heading {
  text-align: center;
  color: #333; 
  margin: 1.5rem 0; 
}

.accordion-ques {
  text-align: center;
  padding: 4px 20px ;
  color: #333; 
  width: 100%;
  margin: 10px 0;
}

.accordion-ans {
  text-align: center;
  padding: 10px 0 20px 0;
  color: #333; 
} */
