.about-container {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* padding: 15px; */
}

.image img {
  max-width: 100%;
}

.about-content {
  /* flex: 1; */
  max-width: 600px;
  padding: 20px;
  text-align: center;
}

.details {
  /* flex: 1; */
  max-width: 600px;
  padding: 20px;
  border: 2px solid black;
}

.details-para{
  padding: 15px;
}

.heading-details {
  text-align: center;
  border-bottom: 1px solid black;
  margin: 1px;
}

.heading-box{
  margin: 8px;
}

.fees-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
  margin: 4px;
}

.fees-table th{
  background-color: rgb(174, 235, 174);
}

.fees-table th,
.fees-table td {
  padding: 15px;
  text-align: center;
  border: 1px solid black;
}

.scholar-box {
  margin-top: 15px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 4px;
}

.scholars-box{
  display: flex;
  justify-content: right ;
  /* justify-content:first baseline; */
}

.buttn{
  background-color: green;
  color: white;
  padding: 4px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 3px;
}

.apply{
  display: flex;
  justify-content: center;
}

.apply-btn{
  background-color: rgb(71, 71, 251);
  color: white;
  border-radius: 5px;
  padding: 4px;
  border: 1px solid black;
}

.btn {
  display: inline-block;
  margin: 10px;
}


@media (min-width: 768px) {
  .about-container {
    padding: 40px;
  }
  .about-content, .details {
    max-width: 700px;
    padding: 30px;
  }
  .fee-table th, .fee-table td {
    padding: 15px;
  }
  .btn {
    margin: 15px;
  }
}

/* Media query for large screens */
@media (min-width: 1200px) {
  .about-container {
    padding: 60px;
  }
  .about-content, .details {
    max-width: 800px;
    padding: 40px;
  }
  .fee-table th, .fee-table td {
    padding: 20px;
  }
  .btn {
    margin: 20px;
  }
}