.image {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

section h1 {
  text-align: center;
  margin: 1rem;
  color: rgb(243, 156, 18);
  font-size: xx-large;
  font-weight: bolder;
  /* border-bottom: 4px solid rgb(255, 255, 0); */
}

section p {
  text-align: center;
  text-decoration: dotted;
  width: 80%;
  position: relative;
  left: 130px;
  margin: 20px;
  font-weight: bolder;
  color: black;
}

.details {
  border: 2px solid black;
  width: 80%;
  height: 500px;
  position: relative;
  left: 105px;
  margin: 20px;
}

.heading-details {
  text-align: center;
  border-bottom: 1px solid black;
  /* color: rgb(243, 156, 18); */
}

.heading-box {
  position: relative;
  left: 50px;
  margin: 6px;
}

.table-head {
  background-color: rgb(177, 225, 177);
}

.details-para {
  position: relative;
  left: 20px;
}

.scholar-box {
  display: flex;
  justify-content: space-evenly;
}

.box-ul {
  position: relative;
  top: 30px;
}

.scholar-head {
  position: relative;
  left: 30px;
  /* color: rgb(18, 37, 243); */
}

.btn-two {
  position: relative;
  top: 15px;
  background-color: rgb(48, 145, 48);
  color: white;
  border: 1px solid rgb(0, 0, 0);
  padding: 6px;
  height: 35px;
}

.scholar {
  position: relative;
  left: 50px;
  /* color: rgb(18, 37, 243); */
}

.btn-one {
  background-color: rgb(48, 145, 48);
  color: white;
  border: 1px solid rgb(0, 0, 0);
  padding: 3px;
  height: 30px;
}

.apply-btn {
  position: relative;
  top: 80px;
  left: 450px;
  background-color: rgb(79, 79, 244);
  color: white;
  border: 1px solid rgb(0, 0, 0);
  padding: 4px;
  height: 30px;
}
